{% extends "layouts/simple-layout.njk" %}

{% block titleAndDescription %}
  <title>Add Debt | Cash Cache</title>
  <meta name="description" content="Add debt, including the balance, minimum payment, and interest rate.">
{% endblock %}

{% block mainContent %}
  <h1>
    Add Debt
  </h1>

  <div>
    <a href="/overview" data-back-link>
      Go Back
    </a>
  </div>

  <form class="stack">
    {% include "inputs/year-month-inputs.njk" %}
    <div>
      <label for="debt-description">
        Description
      </label>
      <input id="debt-description" type="text" name="debt-description" required>
    </div>
    <div>
      <label for="amount">
        Balance
      </label>
      <input id="amount" type="text" name="amount" inputmode="numeric" pattern="^(\s{1,})?\$?\d{1,3}(,?\d{3})*(\.\d+)?(\s{1,})?$" style="width: 12ch" autofill="false" autocomplete="off" required>
    </div>
    <div>
      <label for="minimum-payment">
        Minimum Payment
      </label>
      <input id="minimum-payment" type="text" name="minimum-payment" inputmode="numeric" pattern="^(\s{1,})?\$?\d{1,3}(,?\d{3})*(\.\d+)?(\s{1,})?$" style="width: 12ch" autofill="false" autocomplete="off" required>
    </div>
    <div>
      <label for="interest-rate">
        Interest Rate
      </label>
      <input id="interest-rate" type="text" name="interest-rate" inputmode="numeric" pattern="^(\s{1,})?\d{1,2}(\.\d+)?(%)?(\s{1,})?$" style="width: 12ch" autofill="false" autocomplete="off" required>
    </div>
    <input type="hidden" name="key" value="">
    <div>
      <span class="visually-hidden" role="status" data-submit-status></span>
      <button type="submit" data-label-saving="Saving..." data-label-saved="Saved!" data-label-failed="Failed to Save. Try Again?">
        Save Debt
      </button>
    </div>
  </form>
{% endblock %}

{% block scripts %}
  <script src="/scripts/year-month-inputs.js"></script>
  <script src="/scripts/add/debt.mjs" type="module"></script>
{% endblock %}
