---
title: Add Debt
layout: layouts/simple-layout.njk
---

<h1>
  Add Debt
</h1>

{% include "components/back-link.njk" %}

<form class="stack">
  {% include "inputs/year-month-inputs.njk" %}
  {% include "inputs/category-inputs.njk" %}
  <div>
    <label for="debt-description">
      Description
    </label>
    <input id="debt-description" type="text" name="debt-description" required>
  </div>
  <div>
    <label for="amount">
      Balance
    </label>
    <input id="amount" type="text" name="amount" inputmode="numeric" pattern="^(\s{1,})?\$?\d{1,3}(,?\d{3})*(\.\d+)?(\s{1,})?$" style="width: 12ch" autofill="false" autocomplete="off" required>
  </div>
  <div>
    <label for="minimum-payment">
      Minimum Payment
    </label>
    <input id="minimum-payment" type="text" name="minimum-payment" inputmode="numeric" pattern="^(\s{1,})?\$?\d{1,3}(,?\d{3})*(\.\d+)?(\s{1,})?$" style="width: 12ch" autofill="false" autocomplete="off" required>
  </div>
  <div>
    <label for="interest-rate">
      Interest Rate
    </label>
    <input id="interest-rate" type="text" name="interest-rate" inputmode="numeric" pattern="^(\s{1,})?\d{1,2}(\.\d+)?(%)?(\s{1,})?$" style="width: 12ch" autofill="false" autocomplete="off" required>
  </div>
  <input type="hidden" name="key" value="">
  <div>
    <button type="submit">
      Save Debt
    </button>
  </div>
</form>

{% include "scripts/sanitize.njk" %}
<script type="module">
  import { getAllCategories, addToDb } from '/scripts/db.mjs';

  {% include "scripts/get-categories.njk" %}

  document.addEventListener('submit', (event) => {
    event.preventDefault();

    const { elements } = event.target;
    const debt = {
      key: elements['key'].value || null,
      year: Number(elements['year'].value),
      month: Number(elements['month'].value) - 1,
      category: elements['category'].value === 'new-category' ? elements['new-category'].value : elements['category'].value,
      description: elements['debt-description'].value,
      amount: sanitize(elements['amount'].value),
      minimumPayment: sanitize(elements['minimum-payment'].value),
      interestRate: sanitize(elements['interest-rate'].value),
    };

    addToDb('debt', debt);
  });

  {% include "scripts/item-added-listener.njk" %}

  getCategories('debt');
</script>
