{% extends "layouts/simple-layout.njk" %}

{% block titleAndDescription %}
  <title>Add Savings | Cash Cache</title>
  <meta name="description" content="Add savings. Categorize it, describe it, and say how much is in the fund.">
{% endblock %}

{% block mainContent %}
  <h1>
    Add Savings
  </h1>

  <div>
    <a href="/overview/" data-back-link>
      Go Back
    </a>
  </div>

  <form class="stack">
    {% include "inputs/year-month-inputs.njk" %}
    {% include "inputs/category-inputs.njk" %}
    <div>
      <label for="savings-description">
        Description
      </label>
      <input id="savings-description" type="text" name="savings-description" required>
    </div>
    <div>
      <label for="amount">
        Balance
      </label>
      <input id="amount" type="text" name="amount" inputmode="numeric" pattern="^(\s{1,})?\$?\d{1,3}(,?\d{3})*(\.\d+)?(\s{1,})?$" style="width: 12ch" autofill="false" autocomplete="off" required>
    </div>
    <input type="hidden" name="key" value="">
    <div>
      <span class="visually-hidden" role="status" data-submit-status></span>
      <button type="submit" data-label-saving="Saving..." data-label-saved="Saved!" data-label-failed="Failed to Save. Try Again?">
        Save Savings
      </button>
    </div>
  </form>
{% endblock %}

{% block scripts %}
  <script src="/scripts/add/savings.mjs" type="module"></script>
{% endblock %}
