---
title: Overview
layout: app-layout.njk
---

<style>
  article {
    height: 100%;
  }

  .grid-wrapper {
    height: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-block-end: 11px;
  }

  .sections {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, minmax(calc((var(--max-width) - 3rem) / 4), 1fr));
    height: 100%;
  }

  .sections section {
    height: 100%;
    scroll-snap-align: start;
  }

  section {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  .full-width-button {
    display: block;
    width: 100%;
    padding: 0.5em;
    border: 0.125em solid var(--text-color);
    text-decoration: none;
    text-align: center;
  }

  [data-section-heading] {
    border-block-end: 0.125em solid var(--text-color);
  }

  [data-section-body] {
    max-height: calc(100vh - 13rem - 11px);
    overflow-y: auto;
  }

  .grid-wrapper::-webkit-scrollbar,
  [data-section-body]::-webkit-scrollbar {
    width: 11px;
  }

  .grid-wrapper,
  [data-section-body] {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) transparent;
  }

  .grid-wrapper::-webkit-scrollbar-track,
  [data-section-body]::-webkit-scrollbar-track {
    background: transparent;
  }

  .grid-wrapper::-webkit-scrollbar-thumb,
  [data-section-body]::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 6px;
    border: 3px solid var(--scrollbar-color);
  }
</style>

{% include "month-nav.njk" %}

<div class="grid-wrapper">
  <div class="sections">
    <section>
      <div class="cluster overflow:hidden padding:halfem" data-section-heading>
        <div class="justify-content:space-between">
          <h2 class="h5">
            Expenses
          </h2>
          <p data-total-expenses>
            $0.00
          </p>
        </div>
      </div>
      <div class="stack padding:halfem" data-section-body>
        <div>
          <p>
            You haven't tracked any expenses yet.
          </p>
        </div>
        <div>
          <div class="cluster">
            <div class="justify-content:space-between">
              <h3 class="h5">
                Housing
              </h3>
              <p class="h5">
                $1,543.84
              </p>
            </div>
          </div>
          <div class="stack" style="--stack-space: 0.75em">
            <div>
              <p class="tiny font-style:italic">
                12/1/20
              </p>
              <div class="cluster small">
                <div class="justify-content:space-between">
                  <a href="/">
                    Rent
                  </a>
                  <p>
                    $1,543.84
                  </p>
                </div>
              </div>
            </div>
            <div>
              <p class="tiny font-style:italic">
                12/1/20
              </p>
              <div class="cluster small">
                <div class="justify-content:space-between">
                  <a href="/">
                    Rent
                  </a>
                  <p>
                    $1,543.84
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="cluster">
            <div class="justify-content:space-between">
              <h3 class="h5">
                Housing
              </h3>
              <p class="h5">
                $1,543.84
              </p>
            </div>
          </div>
          <div class="stack" style="--stack-space: 0.75em">
            <div>
              <p class="tiny font-style:italic">
                12/1/20
              </p>
              <div class="cluster small">
                <div class="justify-content:space-between">
                  <a href="/">
                    Rent
                  </a>
                  <p>
                    $1,543.84
                  </p>
                </div>
              </div>
            </div>
            <div>
              <p class="tiny font-style:italic">
                12/1/20
              </p>
              <div class="cluster small">
                <div class="justify-content:space-between">
                  <a href="/">
                    Rent
                  </a>
                  <p>
                    $1,543.84
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="cluster">
            <div class="justify-content:space-between">
              <h3 class="h5">
                Housing
              </h3>
              <p class="h5">
                $1,543.84
              </p>
            </div>
          </div>
          <div class="stack" style="--stack-space: 0.75em">
            <div>
              <p class="tiny font-style:italic">
                12/1/20
              </p>
              <div class="cluster small">
                <div class="justify-content:space-between">
                  <a href="/">
                    Rent
                  </a>
                  <p>
                    $1,543.84
                  </p>
                </div>
              </div>
            </div>
            <div>
              <p class="tiny font-style:italic">
                12/1/20
              </p>
              <div class="cluster small">
                <div class="justify-content:space-between">
                  <a href="/">
                    Rent
                  </a>
                  <p>
                    $1,543.84
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="cluster">
            <div class="justify-content:space-between">
              <h3 class="h5">
                Housing
              </h3>
              <p class="h5">
                $1,543.84
              </p>
            </div>
          </div>
          <div class="stack" style="--stack-space: 0.75em">
            <div>
              <p class="tiny font-style:italic">
                12/1/20
              </p>
              <div class="cluster small">
                <div class="justify-content:space-between">
                  <a href="/">
                    Rent
                  </a>
                  <p>
                    $1,543.84
                  </p>
                </div>
              </div>
            </div>
            <div>
              <p class="tiny font-style:italic">
                12/1/20
              </p>
              <div class="cluster small">
                <div class="justify-content:space-between">
                  <a href="/">
                    Rent
                  </a>
                  <p>
                    $1,543.84
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <a href="/add/expense" class="full-width-button">
          Add Expense
        </a>
      </div>
    </section>
    <section>
      <div class="cluster overflow:hidden padding:halfem" data-section-heading>
        <div class="justify-content:space-between">
          <h2 class="h5">
            Income
          </h2>
          <p data-total-income>
            $0.00
          </p>
        </div>
      </div>
      <div class="stack padding:halfem" data-section-body>
        <div>
          <p>
            You haven't tracked any income yet.
          </p>
        </div>
      </div>
      <div>
        <a href="/add/income" class="full-width-button">
          Add Income
        </a>
      </div>
    </section>
    <section>
      <div class="cluster overflow:hidden padding:halfem" data-section-heading>
        <div class="justify-content:space-between">
          <h2 class="h5">
            Savings
          </h2>
          <p data-total-savings>
            $0.00
          </p>
        </div>
      </div>
      <div class="stack padding:halfem" data-section-body>
        <div>
          <p>
            You haven't tracked any savings yet.
          </p>
        </div>
      </div>
      <div>
        <a href="/add-savings" class="full-width-button">
          Add Savings
        </a>
      </div>
    </section>
    <section>
      <div class="cluster overflow:hidden padding:halfem" data-section-heading>
        <div class="justify-content:space-between">
          <h2 class="h5">
            Debt
          </h2>
          <p data-total-debt>
            $0.00
          </p>
        </div>
      </div>
      <div class="stack padding:halfem" data-section-body>
        <div>
          <p>
            You haven't tracked any debt yet.
          </p>
        </div>
      </div>
      <div>
        <a href="/add-debt" class="full-width-button">
          Add Debt
        </a>
      </div>
   </section>
  </div>
</div>
