{% extends "layouts/app-layout.njk" %}

{% block titleAndDescription %}
  <title>Overview | Cash Cache</title>
  <meta name="description" content="Your month at a glance. Easily track expenses, income, savings, or debt from here, and look at your totals as the month progresses.">
{% endblock %}

{% block styles %}
  <style>
    article {
      height: 100%;
    }

    .grid-wrapper {
      height: 100%;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      padding-block-end: 11px;
    }

    .sections {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, minmax(calc((var(--max-width) - 3rem) / 4), 1fr));
      height: 100%;
    }

    @media screen and (max-width: 60ch) {
      .sections {
        grid-template-columns: repeat(4, minmax(80vw, 1fr));
      }
    }

    .sections section {
      height: 100%;
      scroll-snap-align: start;
    }

    section {
      display: grid;
      grid-template-rows: auto 1fr auto;
    }

    .full-width-button {
      display: block;
      width: 100%;
      padding: 0.5em;
      border: 0.125em solid var(--text-color);
      text-decoration: none;
      text-align: center;
    }

    [data-section-heading],
    .cluster.heading {
      border-block-end: 0.125em solid var(--text-color);
    }

    .cluster.heading {
      margin-block-end: 0.5em;
    }

    [data-section-heading] p,
    .cluster.heading p {
      font-weight: var(--heading-font-weight);
    }

    [data-section-body] {
      max-height: calc(100vh - 13rem - 11px);
      overflow-y: auto;
    }

    .grid-wrapper::-webkit-scrollbar,
    [data-section-body]::-webkit-scrollbar {
      width: 11px;
    }

    .grid-wrapper,
    [data-section-body] {
      scrollbar-width: thin;
      scrollbar-color: var(--scrollbar-color) transparent;
    }

    .grid-wrapper::-webkit-scrollbar-track,
    [data-section-body]::-webkit-scrollbar-track {
      background: transparent;
    }

    .grid-wrapper::-webkit-scrollbar-thumb,
    [data-section-body]::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-color);
      border-radius: 6px;
      border: 3px solid var(--scrollbar-color);
    }
  </style>
{% endblock %}

{% block mainContent %}
  <div class="container" style="--max-width: 1200px">
    <div class="cluster">
      <div class="justify-content:space-between">
        <a href="/overview" data-previous-link>Previous</a>
        <h1 class="h5" data-current-month>Current</h1>
        <a href="/overview" data-next-link>Next</a>
      </div>
    </div>
  </div>

  <div class="grid-wrapper">
    <div class="sections">
      <section>
        <div class="cluster overflow:hidden padding:halfem" data-section-heading>
          <div class="justify-content:space-between">
            <h2 class="h5">
              Expenses
            </h2>
            <p data-total-expenses>
              $0.00
            </p>
          </div>
        </div>
        <div class="stack padding:halfem" data-expenses data-section-body>
          <div>
            Loading expenses...
          </div>
          <div data-no-expenses hidden>
            <p>
              You haven't tracked any expenses yet.
            </p>
          </div>
          <div data-manage-recurring-expenses hidden>
            <div data-copy-expenses hidden>
              <button type="button" style="width: 100%; margin-block-end: 1.5rem">
                Copy Recurring Expenses
              </button>
            </div>
            <a href="/recurring-expenses" class="small">
              View Recurring Expenses
            </a>
          </div>
        </div>
        <div>
          <a href="/add/expense" class="full-width-button" data-add-expense-link>
            Add Expense
          </a>
        </div>
      </section>
      <section>
        <div class="cluster overflow:hidden padding:halfem" data-section-heading>
          <div class="justify-content:space-between">
            <h2 class="h5">
              Income
            </h2>
            <p data-total-income>
              $0.00
            </p>
          </div>
        </div>
        <div class="stack padding:halfem" data-income data-section-body>
          <div>
            Loading income...
          </div>
          <div data-no-income hidden>
            <p>
              You haven't tracked any income yet.
            </p>
          </div>
          <div data-manage-recurring-income hidden>
            <div data-copy-income hidden>
              <button type="button" style="width: 100%; margin-block-end: 1.5rem">
                Copy Recurring Income
              </button>
            </div>
            <a href="/recurring-income" class="small">
              View Recurring Income
            </a>
          </div>
        </div>
        <div>
          <a href="/add/income" class="full-width-button" data-add-income-link>
            Add Income
          </a>
        </div>
      </section>
      <section>
        <div class="cluster overflow:hidden padding:halfem" data-section-heading>
          <div class="justify-content:space-between">
            <h2 class="h5">
              Savings
            </h2>
            <p data-total-savings>
              $0.00
            </p>
          </div>
        </div>
        <div class="stack padding:halfem" data-savings data-section-body>
          <div>
            Loading savings...
          </div>
          <div data-no-savings hidden>
            <p>
              You haven't tracked any savings yet.
            </p>
          </div>
          <div data-copy-savings hidden>
            <button type="button" style="width: 100%">
              Copy Last Month's Savings
            </button>
          </div>
        </div>
        <div>
          <a href="/add/savings" class="full-width-button" data-add-savings-link>
            Add Savings
          </a>
        </div>
      </section>
      <section>
        <div class="cluster overflow:hidden padding:halfem" data-section-heading>
          <div class="justify-content:space-between">
            <h2 class="h5">
              Debt
            </h2>
            <p data-total-debt>
              $0.00
            </p>
          </div>
        </div>
        <div class="stack padding:halfem" data-debt data-section-body>
          <div>
            Loading debt...
          </div>
          <div data-no-debt hidden>
            <p>
              You haven't tracked any debt yet.
            </p>
          </div>
          <div data-copy-debt hidden>
            <button type="button" style="width: 100%">
              Copy Last Month's Debt
            </button>
          </div>
        </div>
        <div>
          <a href="/add/debt" class="full-width-button" data-add-debt-link>
            Add Debt
          </a>
        </div>
    </section>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="/scripts/overview/index.mjs" type="module"></script>
{% endblock %}
