const getCategories = async (storeName) => {
  const categories = await getAllCategories(storeName);
  const categoriesDiv = document.querySelector('[data-category]');
  categories?.sort().forEach((category) => {
    const categoryTemplate = `
      <label class="custom-checkbox">
        <input type="radio" name="category" value="${category}" required>
        {% include "radio-svg.njk" %}
        <span>
          ${category}
        </span>
      </label>
    `;

    categoriesDiv.innerHTML += categoryTemplate;
  });
};
