---
title: Cash Cache
description: A streamlined way to keep track of your money.
---

<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ renderData.title or title }} | Cash Cache</title>
    <meta name="description" content="{{ description }}">
    <link rel="icon" href="/favicon.ico">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#202020">
    <link rel="apple-touch-icon" href="/icons/icon_192.png">
    <style>
      {% include "styles.css" %}
    </style>
  </head>
  <body>
    <div>
      <header>
        This is the header.
      </header>
      <main>
        <article>
          {{ content | safe }}
        </article>
      </main>
      <footer>
        This is the footer.
      </footer>
    </div>

    {% if env.environment == 'production' %}
      <script>
        if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('/service-worker.js');
        }
      </script>
    {% endif %}
  </body>
</html>
