<div class="container">
  <div class="cluster">
    <div class="justify-content:space-between">
      <a href="/overview" data-previous-link>Previous</a>
      <h1 class="h5" data-current-month>Current</h1>
      <a href="/overview" data-next-link>Next</a>
    </div>
  </div>
</div>

<h2 class="h1">
  <span data-current-month></span> Insights
</h2>

<script>
  const today = new Date();
  let month = today.getMonth();
  let year = today.getFullYear();
  const params = new URLSearchParams(window.location.search);

  if (params?.has('m')) {
    month = Number(params.get('m'));
  }

  if (params?.has('y')) {
    year = Number(params.get('y'));
  }

  const prevMonth = month - 1 >= 0 ? month - 1 : 11;
  const prevYear = prevMonth === 11 ? year - 1 : year;

  const nextMonth = month + 1 <= 11 ? month + 1 : 0;
  const nextYear = nextMonth === 0 ? year + 1 : year;

  const previousLink = document.querySelector('[data-previous-link]');
  previousLink.href = `/insights/monthly?m=${prevMonth}&y=${prevYear}`;
  previousLink.innerHTML = new Date(prevYear, prevMonth, 1).toLocaleString('en-US', {
    month: 'short',
    year: 'numeric',
  });

  const nextLink = document.querySelector('[data-next-link]');
  nextLink.href = `/insights/monthly?m=${nextMonth}&y=${nextYear}`;
  nextLink.innerHTML = new Date(nextYear, nextMonth, 1).toLocaleString('en-US', {
    month: 'short',
    year: 'numeric',
  });

  const currentMonthIndicators = document.querySelectorAll('[data-current-month]');
  currentMonthIndicators.forEach((currentMonth) => {
    currentMonth.innerHTML = new Date(year, month, 1).toLocaleString('en-US', {
      month: 'short',
      year: 'numeric',
    });
  });
</script>
