<div class="cluster">
  <div style="align-items: center; --cluster-space: 0.5em">
    {% include "svgs/radio-svg.njk" %}
    <div style="height: 1em; width: 13ch; background-color: var(--text-color); opacity: 0.5; border-radius: 0.25em"></div>
  </div>
</div>
