{% extends "layouts/simple-layout.njk" %}

{% block titleAndDescription %}
  <title>Add Recurring Income | Cash Cache</title>
  <meta name="description" content="Add recurring income, such as your paycheck, so you can save time in the future and can plan ahead knowing how much you can expect to earn.">
{% endblock %}

{% block styles %}
  <style>
    .dates-grid {
      display: grid;
      grid-gap: 0.75em;
      grid-template-columns: repeat(7, max-content);
      font-size: calc(var(--h6));
    }
  </style>
{% endblock %}

{% block mainContent %}
  <h1>
    Add Recurring Income
  </h1>

  <div>
    <a href="/recurring-income" data-back-link>
      Go Back
    </a>
  </div>

  <form class="stack">
    {% include "inputs/category-inputs.njk" %}
    <div>
      <label for="income-description">
        Description
      </label>
      <input id="income-description" type="text" name="income-description" required>
    </div>
    <div>
      <label for="amount">
        Amount
      </label>
      <input id="amount" type="text" name="amount" inputmode="numeric" pattern="^(\s{1,})?\$?\d{1,3}(,?\d{3})*(\.\d+)?(\s{1,})?$" style="width: 12ch" autofill="false" autocomplete="off" required>
    </div>
    <fieldset>
      <legend>
        Frequency
      </legend>
      <div class="stack" style="--stack-space: 0.5em">
        <label class="custom-checkbox">
          <input type="radio" name="frequency" value="1-month" checked>
          {% include "svgs/radio-svg.njk" %}
          <span>
            Every Month
          </span>
        </label>
        <label class="custom-checkbox">
          <input type="radio" name="frequency" value="3-month">
          {% include "svgs/radio-svg.njk" %}
          <span>
            Every 3 Months
          </span>
        </label>
        <label class="custom-checkbox">
          <input type="radio" name="frequency" value="6-month">
          {% include "svgs/radio-svg.njk" %}
          <span>
            Every 6 Months
          </span>
        </label>
        <label class="custom-checkbox">
          <input type="radio" name="frequency" value="1-year">
          {% include "svgs/radio-svg.njk" %}
          <span>
            Every Year
          </span>
        </label>
        <label class="custom-checkbox">
          <input type="radio" name="frequency" value="1-week">
          {% include "svgs/radio-svg.njk" %}
          <span>
            Every Week
          </span>
        </label>
        <label class="custom-checkbox">
          <input type="radio" name="frequency" value="2-week">
          {% include "svgs/radio-svg.njk" %}
          <span>
            Every 2 Weeks
          </span>
        </label>
        <label class="custom-checkbox">
          <input type="radio" name="frequency" value="twice-per-month">
          {% include "svgs/radio-svg.njk" %}
          <span>
            Twice per Month
          </span>
        </label>
      </div>
    </fieldset>
    {% include "inputs/complex-dates.njk" %}
    <label class="custom-checkbox">
      <input type="checkbox" name="active" checked>
      {% include "svgs/checkbox-svg.njk" %}
      <span>
        This recurring income is currently active
      </span>
    </label>
    <input type="hidden" name="key" value="">
    <div>
      <span class="visually-hidden" role="status" data-submit-status></span>
      <button type="submit" data-label-saving="Saving..." data-label-saved="Saved!" data-label-failed="Failed to Save. Try Again?">
        Save Recurring Income
      </button>
    </div>
  </form>
{% endblock %}

{% block scripts %}
  <script src="/scripts/date-inputs.js"></script>
  <script src="/scripts/recurring-income/add.mjs" type="module"></script>
{% endblock %}
