---
title: Recurring Income
layout: layouts/simple-layout.njk
---

<h1>
  Recurring Income
</h1>

<p>
  Save time by adding your typical income here. At the beginning of each month,
  you can copy these into your tracked income, giving you an idea of what you're
  working with for the month ahead.
</p>

<p data-no-recurring-income hidden>
  You haven't set up any recurring income yet. Take a look at your typical
  income like your paycheck as well as any other money that you get on a
  predictable basis.
</p>

<div class="stack" data-recurring-income hidden>

</div>

<div>
  <a href="/recurring-income/add">
    Add Recurring Income
  </a>
</div>
