{% extends "layouts/simple-layout.njk" %}

{% block titleAndDescription %}
  <title>Recurring Income | Cash Cache</title>
  <meta name="description" content="Here is all of your recurring income – the money you make on a regular, predictable basis.">
{% endblock %}

{% block mainContent %}
  <h1>
    Recurring Income
  </h1>

  <div class="stack" data-paywall-message hidden>
    <p>
      Managing your recurring income is a premium feature, but here's what
      you're missing.
    </p>
    <ul class="stack" style="--stack-space: 0.75em">
      <li>
        Speed up the process of entering income that is the same every month, or
        two weeks, or whatever the case may be
      </li>
      <li>
        Know how much money you can expect to come in during the month so you
        don't overshoot with your expenses
      </li>
    </ul>
    <div data-cta-log-in hidden>
      <a href="/login/" class="button">
        Sign Up to Gain Access
      </a>
    </div>
    <div data-cta-subscribe hidden>
      <a href="/account/" class="button">
        Subscribe to Gain Access
      </a>
    </div>
  </div>

  <div class="stack" data-recurring-income-container>
    <p>
      Save time by adding your typical income here. At the beginning of each month,
      you can copy these into your tracked income, giving you an idea of what you're
      working with for the month ahead.
    </p>

    <p data-no-recurring-income hidden>
      You haven't set up any recurring income yet. Take a look at your typical
      income like your paycheck as well as any other money that you get on a
      predictable basis.
    </p>

    <div class="stack" data-recurring-income hidden></div>

    <div>
      <a href="/recurring-income/add/">
        Add Recurring Income
      </a>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="/scripts/recurring-income/index.mjs" type="module"></script>
{% endblock %}
