---
title: Insights
layout: layouts/simple-layout.njk
---

<h1>
  Insights
</h1>

<p>
  Here are the key takeaways from your entire backlog of data. Keep in mind that
  this is not financial advice, and assumptions factor heavily into the
  calculations that drive these estimates.
</p>

{% include "components/back-link.njk" %}

<div>
  <a href="/insights/monthly">
    Insights by Month
  </a>
</div>

<div data-progress-chart class="stack" hidden>
  <h2>
    Progress Chart
  </h2>
  <details>
    <summary>
      Details
    </summary>
    <div class="stack">
      <p>
        This is your progress chart. It shows your expenses and income along with
        the amount that you could safely withdraw each month (assuming you spend no
        more than 4% of your total savings per year and your savings are invested).
      </p>
      <p>
        Once the safe withdrawal amount is consistently higher than expenses, you
        have "enough" and could consider retirement.
      </p>
    </div>
  </details>
</div>

<div data-runway class="stack" hidden>
  <h2>
    Runway
  </h2>
</div>

<div data-retirement class="stack" hidden>
  <h2>
    Retirement
  </h2>
  <div data-retirement-summary class="stack"></div>
  <div data-retirement-details class="stack"></div>
</div>

<div data-savings-rate class="stack" hidden>
  <h2>
    Savings Rate
  </h2>
  <details>
    <summary>
      Details
    </summary>
    <div class="stack">
      <p>
        Your savings rate is an indicator of how much money you saved compared
        to your total income. The closer you are to 100%, the better. If you
        have a negative percentage, that means you spent more than you earned.
      </p>
      <p>
        This chart breaks your savings rate down by month and shows a 12 month
        rolling average.
      </p>
    </div>
  </details>
</div>

{% include "scripts/firebase.njk" %}
{% include "scripts/format-currency.njk" %}
<script src="/scripts/insights.mjs" type="module"></script>
