{% extends "layouts/simple-layout.njk" %}

{% block titleAndDescription %}
  <title>Monthly Insights | Cash Cache</title>
  <meta name="description" content="See how this month went in terms of when and how much you spent or earned, and compare it to the previous month or year.">
{% endblock %}

{% block styles %}
  <style>
    .dates-grid {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      font-size: calc(var(--h6));
    }

    .dates-grid > div {
      padding: 0.5em;
      border: 0.1em solid var(--text-color);
      display: flex;
      flex-direction: column;
    }

    .day-marker {
      margin-block-end: auto;
    }

    .day-marker,
    .expenses-marker,
    .income-marker {
      font-size: calc(var(--tiny));
    }

    .expenses-marker,
    .income-marker {
      text-align: right;
    }

    .expenses-marker {
      color: var(--red);
    }

    .income-marker {
      color: var(--green);
    }
  </style>
{% endblock %}

{% block mainContent %}
  <div class="stack" data-paywall-message hidden>
    <h1>
      Monthly Insights
    </h1>
    <p>
      Monthly insights are a premium feature, but here's a breakdown of what
      you're missing.
    </p>
    <ul class="stack" style="--stack-space: 0.75em">
      <li>
        A heat map of when you spent and earned money during the month. You might
        spot some patterns that you're unaware of, such as a predilection for
        shopping on the weekends or whatever.
      </li>
      <li>
        Your savings rate for the month. Remember, higher is better, and a
        negative number is bad news.
      </li>
      <li>
        Month to month comparisons of what you earned and spent, as well as how
        much your savings and debt changed.
      </li>
      <li>
        Year over year comparisons to show how you're doing compared to this time
        last year.
      </li>
    </ul>
    <div data-cta-log-in hidden>
      <a href="/login/" class="button">
        Sign Up to Gain Access
      </a>
    </div>
    <div data-cta-subscribe hidden>
      <a href="/account/" class="button">
        Subscribe to Gain Access
      </a>
    </div>
  </div>

  <div class="stack" data-monthly-insights>
    <div class="container">
      <div class="cluster">
        <div class="justify-content:space-between">
          <a href="/overview/" data-previous-link>Previous</a>
          <h1 class="h5" data-current-month>Current</h1>
          <a href="/overview/" data-next-link>Next</a>
        </div>
      </div>
    </div>

    <h2 class="h1">
      <span data-current-month></span> Insights
    </h2>

    <div data-heat-map class="stack" hidden>
      <h3>
        Heat Map
      </h3>
      <p>
        Here's how much money you spent or earned, broken down by day of the month.
      </p>
      <div class="dates-grid" data-dates-grid></div>
    </div>

    <h3>
      Savings Rate
    </h3>
    <div class="stack" data-savings-rate hidden></div>

    <h3>
      Month to Month Comparisons
    </h3>
    <div class="stack">
      <div data-monthly-expenses></div>
      <div data-monthly-income></div>
      <div data-monthly-savings></div>
      <div data-monthly-debt></div>
    </div>

    <h3>
      Year to Year Comparisons
    </h3>
    <div class="stack">
      <div data-yearly-expenses></div>
      <div data-yearly-income></div>
      <div data-yearly-savings></div>
      <div data-yearly-debt></div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="/scripts/insights/monthly.mjs" type="module"></script>
{% endblock %}
