{% extends "layouts/simple-layout.njk" %}

{% block titleAndDescription %}
  <title>Insights: Progress Chart | Cash Cache</title>
  <meta name="description" content="View your income, expenses, and safe withdrawal amount for each month of your history on this site.">
{% endblock %}

{% block mainContent %}
  <h1>
    Insights: Progress Chart
  </h1>

  <div>
    <a href="/overview" data-back-link>
      Go Back
    </a>
  </div>

  <div class="stack" data-not-subscribed hidden>
    <p>
      You are not signed in, or you are not a paying user. You can access these
      insights by <a href="/login">signing up</a>.
    </p>
  </div>

  <div class="stack" data-is-subscribed>
    <div data-chart></div>
    <p>
      This is your progress chart. It shows your expenses and income along with
      the amount that you could safely withdraw each month (assuming you spend
      no more than 4% of your total savings per year and your savings are
      invested).
    </p>
    <p>
      Once the safe withdrawal amount is consistently higher than expenses, you
      have "enough" and could consider retirement.
    </p>
    <div data-table></div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="/scripts/insights/progress-chart.mjs" type="module"></script>
{% endblock %}
