{% extends "layouts/simple-layout.njk" %}

{% block titleAndDescription %}
  <title>Insights: Progress Chart | Cash Cache</title>
  <meta name="description" content="View your income, expenses, and safe withdrawal amount for each month of your history on this site.">
{% endblock %}

{% block mainContent %}
  <h1>
    Insights: Progress Chart
  </h1>

  <div>
    <a href="/overview" data-back-link>
      Go Back
    </a>
  </div>

  <div class="stack" data-not-subscribed hidden>
    <p>
      You are not signed in, or you are not a paying user. You can access these
      insights by <a href="/login">signing up</a>.
    </p>
  </div>

  <div class="stack" data-is-subscribed>
    <div class="stack" data-chart>
      <svg viewbox="-250 -200 1800 1500" aria-hidden="true" focusable="false">
        <g>
          <polyline points="-135 -180, 0 -180" fill="none" stroke="var(--text-color)" stroke-width="6" stroke-dasharray="5"></polyline>
          <text x="20" y="-170" fill="var(--text-color)">
            Expenses
          </text>
          <polyline points="-135 -130, 0 -130" fill="none" stroke="var(--text-color)" stroke-width="6" stroke-dasharray="15"></polyline>
          <text x="20" y="-120" fill="var(--text-color)">
            Income
          </text>
          <polyline points="-135 -80, 0 -80" fill="none" stroke="var(--text-color)" stroke-width="6"></polyline>
          <text x="20" y="-70" fill="var(--text-color)">
            Safe Withdrawal Amount
          </text>
        </g>
        <g>
          <line x1="0" x2="0" y1="1000" y2="0" stroke-width="6" stroke="var(--text-color)"></line>
          <polyline points="0 1000, 1500 1000" fill="none" stroke="var(--text-color)" stroke-width="2" style="opacity: 0.25"></polyline>
          <polyline points="0 900, 1500 900" fill="none" stroke="var(--text-color)" stroke-width="2" style="opacity: 0.25"></polyline>
          <polyline points="0 800, 1500 800" fill="none" stroke="var(--text-color)" stroke-width="2" style="opacity: 0.25"></polyline>
          <polyline points="0 700, 1500 700" fill="none" stroke="var(--text-color)" stroke-width="2" style="opacity: 0.25"></polyline>
          <polyline points="0 600, 1500 600" fill="none" stroke="var(--text-color)" stroke-width="2" style="opacity: 0.25"></polyline>
          <polyline points="0 500, 1500 500" fill="none" stroke="var(--text-color)" stroke-width="2" style="opacity: 0.25"></polyline>
          <polyline points="0 400, 1500 400" fill="none" stroke="var(--text-color)" stroke-width="2" style="opacity: 0.25"></polyline>
          <polyline points="0 300, 1500 300" fill="none" stroke="var(--text-color)" stroke-width="2" style="opacity: 0.25"></polyline>
          <polyline points="0 200, 1500 200" fill="none" stroke="var(--text-color)" stroke-width="2" style="opacity: 0.25"></polyline>
          <polyline points="0 100, 1500 100" fill="none" stroke="var(--text-color)" stroke-width="2" style="opacity: 0.25"></polyline>
          <polyline points="0 0, 1500 0" fill="none" stroke="var(--text-color)" stroke-width="2" style="opacity: 0.25"></polyline>
        </g>
        <g>
          <line x1="0" x2="1500" y1="1000" y2="1000" stroke-width="6" stroke="var(--text-color)"></line>
        </g>
      </svg>
    </div>
    <p>
      This is your progress chart. It shows your expenses and income along with
      the amount that you could safely withdraw each month (assuming you spend
      no more than 4% of your total savings per year and your savings are
      invested).
    </p>
    <p>
      Once the safe withdrawal amount is consistently higher than expenses, you
      have "enough" and could consider retirement.
    </p>
    <div data-table></div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="/scripts/insights/progress-chart.mjs" type="module"></script>
{% endblock %}
