{% extends "layouts/simple-layout.njk" %}

{% block titleAndDescription %}
  <title>Insights: Savings Rate Chart | Cash Cache</title>
  <meta name="description" content="Monitor how your savings rate changes over time. Higher is better.">
{% endblock %}

{% block mainContent %}
  <h1>
    Insights: Savings Rate Chart
  </h1>

  <div>
    <a href="/overview/" data-back-link>
      Go Back
    </a>
  </div>

  <div class="stack" data-not-subscribed hidden>
    <p>
      You are not signed in, or you are not a paying user. You can access these
      insights by <a href="/login/">signing up</a>.
    </p>
  </div>

  <div class="stack" data-is-subscribed>
    <div class="stack" data-chart>
      <svg viewbox="-250 -200 1800 1500" aria-hidden="true" focusable="false">
        <g>
          <polyline points="-135 -180, 0 -180" fill="none" stroke="var(--text-color)" stroke-width="6" stroke-dasharray="5"></polyline>
          <text x="20" y="-170" fill="var(--text-color)">
            Savings Rate
          </text>
          <polyline points="-135 -80, 0 -80" fill="none" stroke="var(--text-color)" stroke-width="6"></polyline>
          <text x="20" y="-70" fill="var(--text-color)">
            Savings Rate (Rolling Average)
          </text>
        </g>
        <g>
          <line x1="0" x2="0" y1="1000" y2="0" stroke-width="6" stroke="var(--text-color)"></line>
          <polyline points="0 1000, 1500 1000" fill="none" stroke="var(--text-color)" stroke-width="2" style="opacity: 0.25"></polyline>
          <polyline points="0 900, 1500 900" fill="none" stroke="var(--text-color)" stroke-width="2" style="opacity: 0.25"></polyline>
          <polyline points="0 800, 1500 800" fill="none" stroke="var(--text-color)" stroke-width="2" style="opacity: 0.25"></polyline>
          <polyline points="0 700, 1500 700" fill="none" stroke="var(--text-color)" stroke-width="2" style="opacity: 0.25"></polyline>
          <polyline points="0 600, 1500 600" fill="none" stroke="var(--text-color)" stroke-width="2" style="opacity: 0.25"></polyline>
          <polyline points="0 500, 1500 500" fill="none" stroke="var(--text-color)" stroke-width="2" style="opacity: 0.25"></polyline>
          <polyline points="0 400, 1500 400" fill="none" stroke="var(--text-color)" stroke-width="2" style="opacity: 0.25"></polyline>
          <polyline points="0 300, 1500 300" fill="none" stroke="var(--text-color)" stroke-width="2" style="opacity: 0.25"></polyline>
          <polyline points="0 200, 1500 200" fill="none" stroke="var(--text-color)" stroke-width="2" style="opacity: 0.25"></polyline>
          <polyline points="0 100, 1500 100" fill="none" stroke="var(--text-color)" stroke-width="2" style="opacity: 0.25"></polyline>
          <polyline points="0 0, 1500 0" fill="none" stroke="var(--text-color)" stroke-width="2" style="opacity: 0.25"></polyline>
        </g>
        <g>
          <line x1="0" x2="1500" y1="1000" y2="1000" stroke-width="6" stroke="var(--text-color)"></line>
        </g>
      </svg>
    </div>
    <p>
      This is your savings rate chart. It shows how much you spend compared to
      how much you earn. The higher the savings rate, the better for your
      financial health.
    </p>
    <p>
      Monthly fluctuations can make your savings rate seem worse or better than
      it actually is, so we take a 12 month rolling average to show what your
      long-term savings rate is actually like.
    </p>
    <div data-table></div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="/scripts/insights/savings-rate-chart.mjs" type="module"></script>
{% endblock %}
