{% extends "layouts/simple-layout.njk" %}

{% block titleAndDescription %}
  <title>Insights: Savings Rate Chart | Cash Cache</title>
  <meta name="description" content="Monitor how your savings rate changes over time. Higher is better.">
{% endblock %}

{% block mainContent %}
  <h1>
    Insights: Savings Rate Chart
  </h1>

  <div>
    <a href="/overview" data-back-link>
      Go Back
    </a>
  </div>

  <div class="stack" data-not-subscribed hidden>
    <p>
      You are not signed in, or you are not a paying user. You can access these
      insights by <a href="/login">signing up</a>.
    </p>
  </div>

  <div class="stack" data-is-subscribed>
    <div data-chart></div>
    <p>
      This is your savings rate chart. It shows how much you spend compared to
      how much you earn. The higher the savings rate, the better for your
      financial health.
    </p>
    <p>
      Monthly fluctuations can make your savings rate seem worse or better than
      it actually is, so we take a 12 month rolling average to show what your
      long-term savings rate is actually like.
    </p>
    <div data-table></div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="/scripts/insights/savings-rate-chart.mjs" type="module"></script>
{% endblock %}
