{% extends "layouts/simple-layout.njk" %}

{% block titleAndDescription %}
  <title>Insights: Years to Retirement | Cash Cache</title>
  <meta name="description" content="Find out how long it might take for you to reach retirement, given your typical savings rate.">
{% endblock %}

{% block mainContent %}
  <h1>
    Insights: Years to Retirement
  </h1>

  <div>
    <a href="/overview" data-back-link>
      Go Back
    </a>
  </div>

  <div class="stack" data-not-subscribed hidden>
    <p>
      You are not signed in, or you are not a paying user. You can access these
      insights by <a href="/login">signing up</a>.
    </p>
  </div>

  <div class="stack" data-is-subscribed>
    <div data-chart></div>
    <div class="stack" data-explanation></div>
    <div data-table></div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="/scripts/insights/years-to-retirement.mjs" type="module"></script>
{% endblock %}
