---
title: Contact Us
layout: layouts/simple-layout.njk
---

<h1>
  Contact Us
</h1>
<p>
  If you need help with anything, want to report a problem, or just want to get
  in touch with us, you can email us at
  {% include "components/contact-email.njk" %}
</p>

{% include "scripts/firebase.njk" %}
