---
title: Edit Income
layout: layouts/simple-layout.njk
---

<h1>
  Edit Income
</h1>

{% include "components/back-link.njk" %}

<div>
  <button type="button" data-delete data-key="">
    Delete this Income
  </button>
</div>

<form data-add-income-form class="stack">
  {% include "inputs/date-inputs.njk" %}
  {% include "inputs/category-inputs.njk" %}
  <div>
    <label for="income-description">
      Description
    </label>
    <input id="income-description" type="text" name="income-description" required>
  </div>
  <div>
    <label for="amount">
      Amount
    </label>
    <input id="amount" type="text" name="amount" inputmode="numeric" pattern="^(\s{1,})?\$?\d{1,3}(,?\d{3})*(\.\d+)?(\s{1,})?$" style="width: 12ch" autofill="false" autocomplete="off" required>
  </div>
  <input type="hidden" name="key" value="">
  <div>
    <button type="submit">
      Save Changes
    </button>
  </div>
</form>

{% include "scripts/sanitize.njk" %}
{% include "scripts/format-currency.njk" %}
<script type="module">
  import { getAllCategories, getFromDb, addToDb, deleteFromDb } from '/scripts/db.mjs';

  {% include "scripts/get-categories.njk" %}

  document.addEventListener('submit', (event) => {
    event.preventDefault();

    const { elements } = event.target;
    const income = {
      key: elements['key'].value || null,
      year: Number(elements['year'].value),
      month: Number(elements['month'].value) - 1,
      day: Number(elements['day'].value),
      category: elements['category'].value === 'new-category' ? elements['new-category'].value : elements['category'].value,
      description: elements['income-description'].value,
      amount: sanitize(elements['amount'].value),
    };

    addToDb('income', income);
  });

  {% include "scripts/item-added-listener.njk" %}

  (async () => {
    await getCategories('income');
    const params = new URLSearchParams(window.location.search);
    let key;

    if (params?.has('key')) {
      key = params.get('key');
    }

    const deleteButton = document.querySelector('[data-delete]');
    deleteButton.dataset.key = key;

    const income = await getFromDb('income', key);
    const form = document.querySelector('form');
    const { elements } = form;
    elements['key'].value = key;
    elements['year'].value = `${income.year}`;
    elements['month'].value = `${income.month + 1}`;
    elements['day'].value = `${income.day}`;
    elements['income-description'].value = `${income.description}`;
    elements['amount'].value = `${formatCurrency(income.amount)}`;

    const categoryInput = document.querySelector(`[name=category][value="${income.category}"]`);
    if (categoryInput) {
      categoryInput.checked = true;
    }
  })();

  document.addEventListener('click', (event) => {
    if (event.target.matches('[data-delete]')) {
      console.log(event.target.dataset.key);
      if (window.confirm('Are you sure you want to delete this income?')) {
        deleteFromDb('income', event.target.dataset.key);
      }
    }
  });

  document.addEventListener('item-deleted', () => {
    if (document.referrer) {
      window.location.href = document.referrer;
    } else {
      window.location.href = `/overview`;
    }
  });
</script>
