.justify-content\:space-between {
  justify-content: space-between;
}

.overflow\:hidden {
  overflow: hidden;
}

.padding\:halfem {
  padding: 0.5em;
}

.font-style\:italic {
  font-style: italic;
}
