.justify-content\:space-between {
  justify-content: space-between;
}

.overflow\:hidden {
  overflow: hidden;
}

.padding\:halfem {
  padding: 0.5em;
}

.font-style\:italic {
  font-style: italic;
}

.font-weight\:bold {
  font-weight: bold;
}

.text-align\:right {
  text-align: right;
}

.text-align\:center {
  text-align: center;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
