<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block titleAndDescription %}
      <title>Cash Cache</title>
      <meta name="description" content="Simplify your personal finance routine. Forget the spreadsheets and inflexible budgets. Just track your money as it flows in and out.">
    {% endblock %}
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#202020">
    <link rel="apple-touch-icon" href="/icons/icon_192.png">

    <link rel="preconnect" href="https://www.googleapis.com">
    <link rel="preconnect" href="https://securetoken.googleapis.com">
    <link rel="preconnect" href="https://m.stripe.com">

    <script>
      const brightnessMode = localStorage.getItem('brightness-mode');
      if (brightnessMode) {
        document.documentElement.classList.add(brightnessMode);
      }
    </script>
    <style>
      {% include "styles.css" %}
    </style>
    {% block styles %}{% endblock %}
    <script src="https://js.stripe.com/v3/" async></script>
  </head>
  <body>
    <div class="spread">
      <header class="container" style="--max-width: 1200px">
        {% include "layouts/partials/nav.njk" %}
      </header>
      <main>
        <article class="container stack" style="--max-width: 1200px">
          {% block mainContent %}
            <p>
              If you're seeing this, something has gone terribly wrong. Please
              inform us at
              <a href="mailto:help@cashcache.io">help@cashcache.io</a>, and we
              will get to the bottom of what happened here.
            </p>
          {% endblock %}
        </article>
      </main>
    </div>
    {% include "scripts/firebase.njk" %}
    {% block scripts %}{% endblock %}
    {% include "layouts/partials/service-worker.njk" %}
  </body>
</html>
