<!doctype html>
<html lang="en" dir="ltr">
  <head>
    {% block titleAndDescription %}
      <title>Cash Cache</title>
      <meta name="description" content="Simplify your personal finance routine. Forget the spreadsheets and inflexible budgets. Just track your money as it flows in and out.">
    {% endblock %}
    <style>
      {% include "styles.css" %}
    </style>
    {% block styles %}{% endblock %}
    {% include "layouts/partials/head.njk" %}
  </head>
  <body>
    <div class="spread">
      <header class="container" style="--max-width: 1200px">
        {% include "layouts/partials/nav.njk" %}
      </header>
      <main>
        <article class="container stack" style="--max-width: 1200px">
          {% block mainContent %}
            <p>
              If you're seeing this, something has gone terribly wrong. Please
              inform us at
              <a href="mailto:help@cashcache.io">help@cashcache.io</a>, and we
              will get to the bottom of what happened here.
            </p>
          {% endblock %}
        </article>
      </main>
      <footer class="container" style="--max-width: 1200px">
        <p style="max-width: 100%">
          <strong>Heads up:</strong> This site is not going to be maintained any further, starting in April, 2024. The domain is set to expire on December 21, 2024. After that, the site will sort of still be available at <a href="https://cashcache-v2.netlify.app/">https://cashcache-v2.netlify.app</a>, but there are no guarantees for its stability or longevity. You can download your data from the <a href="/settings">settings page</a> and use any JSON to CSV converter to create a spreadsheet from it to preserve your data. This site is being rebuilt (better, faster, stronger) at <a href="https://bvdget.com">bvdget.com</a>. If you need help transferring data over, let me know at <a href="mailto:dustin@dustinwhisman.com">dustin@dustinwhisman.com</a> and I can help. Apologies for any inconveniences, but I'm 99.9% sure I'm the only person who ever used this.
        </p>
      </footer>
    </div>
    {% include "scripts/firebase.njk" %}
    {% block scripts %}{% endblock %}

    <script src="https://js.stripe.com/v3/"></script>
    {% block stripeScripts %}{% endblock %}
    {% include "layouts/partials/service-worker.njk" %}
  </body>
</html>
