<!doctype html>
<html lang="en" dir="ltr">
  <head>
    {% block titleAndDescription %}
      <title>Cash Cache</title>
      <meta name="description" content="Simplify your personal finance routine. Forget the spreadsheets and inflexible budgets. Just track your money as it flows in and out.">
    {% endblock %}
    <style>
      {% include "styles.css" %}
    </style>
    {% block styles %}{% endblock %}
    {% include "layouts/partials/head.njk" %}
  </head>
  <body>
    <div class="spread">
      <header class="container" style="--max-width: 1200px">
        {% include "layouts/partials/nav.njk" %}
      </header>
      <main>
        <article class="container stack" style="--max-width: 1200px">
          {% block mainContent %}
            <p>
              If you're seeing this, something has gone terribly wrong. Please
              inform us at
              <a href="mailto:help@cashcache.io">help@cashcache.io</a>, and we
              will get to the bottom of what happened here.
            </p>
          {% endblock %}
        </article>
      </main>
    </div>
    {% include "scripts/firebase.njk" %}
    {% block scripts %}{% endblock %}
    {% include "layouts/partials/service-worker.njk" %}
  </body>
</html>
