---
title: Cash Cache
description: Simplify your personal finance routine. Forget the spreadsheets and inflexible budgets. Just track your money as it flows in and out.
---

<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ renderData.title or title }} | Cash Cache</title>
    <meta name="description" content="{{ renderData.description or description }}">
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#202020">
    <link rel="apple-touch-icon" href="/icons/icon_192.png">
    {% include "scripts/set-dark-mode.njk" %}
    <style>
      {% include "styles.css" %}
    </style>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <div class="spread">
      <header class="container">
        <nav class="cluster">
          <div class="justify-content:space-between">
            <a href="/overview" class="nav-link">
              Cash Cache
            </a>
            <div class="cluster">
              <div>
                <a href="/insights" class="nav-link">
                  Insights
                </a>
                <a href="/settings" class="nav-link">
                  Settings
                </a>
                <a href="/login" class="nav-link" data-login-link>
                  Log In
                </a>
                <a href="/account" class="nav-link" data-account-link hidden>
                  Account
                </a>
              </div>
            </div>
          </div>
        </nav>
      </header>
      <main>
        <article class="container stack">
          {{ content | safe }}
        </article>
      </main>
      <footer class="container" style="margin-block-start: 2rem">
        <div class="cluster small">
          <div>
            <a href="/privacy-policy">
              Privacy Policy
            </a>
            <a href="/terms-of-service">
              Terms and Conditions
            </a>
            <a href="/contact">
              Contact Us
            </a>
          </div>
        </div>
      </footer>
    </div>

    {% if env.environment == 'production' %}
      <script>
        if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('/service-worker.js');
        }
      </script>
    {% endif %}
  </body>
</html>
