---
title: Awaiting Login Confirmation
layout: layouts/simple-layout.njk
description: This page is a placeholder while you track down the link in your email. You can safely close it.
---

<h1>
  Awaiting Login Confirmation
</h1>

<p>
  Please check your email for a login link. If you want to be logged in on this
  device, make sure that you click the link on this device.
</p>
<p>
  You may close this tab. There's nothing left to be done here.
</p>
