{% extends "layouts/simple-layout.njk" %}

{% block titleAndDescription %}
  <title>Confirm Login | Cash Cache</title>
  <meta name="description" content="We need to make sure you are who you say you are and whether you're all paid up. Once we know, we'll pass you through to where you want to be.">
{% endblock %}

{% block mainContent %}
  <h1>
    Confirm Login
  </h1>

  <div class="stack" data-status-update aria-live="polite">
    <p>
      Hang on a moment while we confirm your login.
    </p>
  </div>

  <div class="stack" data-different-device hidden>
    <p>
      It appears you opened this link on a different device than the one you
      originally wanted to log in with. We will need to confirm your email address
      before logging you in on this device. If you want to log in on your original
      device, close this tab and open the link on that device.
    </p>
    <form class="stack" data-confirm-email-form>
      <div>
        <label for="email">
          Email
        </label>
        <input id="email" type="email" inputmode="email" autocapitalize="off" name="email" style="width: 50ch">
      </div>
      <div>
        <button type="submit">
          Confirm Email
        </button>
      </div>
    </form>
  </div>

  <div data-login-error hidden>
    <p>
      We were unable to log you in. Either your email was invalid or the login
      link was invalid or had expired.
    </p>
  </div>

  <div class="stack" data-subscription hidden>
    <h2>
      Subscription Type
    </h2>
    <p>
      Please choose how you would like to be billed. You will be taken to a secure
      payment form after you choose.
    </p>
    <form class="stack" data-subscription-form>
      <fieldset>
        <legend>
          Subscription Options
        </legend>
        <div class="stack" style="--stack-space: 0.5em">
          <label class="custom-checkbox">
            <input type="radio" name="price-id" value="{{ env.monthlyPlanId }}" checked>
            {% include "svgs/radio-svg.njk" %}
            <span>
              $5.00/month
            </span>
          </label>
          <label class="custom-checkbox">
            <input type="radio" name="price-id" value="{{ env.yearlyPlanId }}">
            {% include "svgs/radio-svg.njk" %}
            <span>
              $50.00/year
            </span>
          </label>
        </div>
      </fieldset>
      <div>
        <button type="submit">
          Subscribe
        </button>
      </div>
    </form>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    const stripe = Stripe('{{ env.stripePublishableKey }}');
  </script>
  <script src="/scripts/login/confirm.mjs" type="module"></script>
{% endblock %}
