{% extends "layouts/simple-layout.njk" %}

{% block titleAndDescription %}
  <title>Log In or Sign Up | Cash Cache</title>
  <meta name="description" content="Log in or sign up. We'll send you a link and either log you in or set up an account for you when you click it.">
{% endblock %}

{% block mainContent %}
  <h1>
    Log In or Sign Up
  </h1>

  <p>
    We don't use passwords here. Enter your email, and we will send you a link to
    confirm your login. If you don't have an account yet, one will be created for
    you when you click the link in your email.
  </p>

  <form class="stack">
    <div>
      <label for="email">
        Email
      </label>
      <input id="email" type="email" inputmode="email" autocapitalize="off" name="email" style="width: 50ch">
    </div>
    <div>
      <button type="submit">
        Request Email
      </button>
    </div>
  </form>
{% endblock %}

{% block scripts %}
  <script src="/scripts/login/index.js"></script>
{% endblock %}
