<div>
  <fieldset>
    <legend>
      Category
    </legend>
    <div class="stack" style="--stack-space: 0.5em" data-category>
      {% include "components/radio-button-placeholder.njk" %}
      {% include "components/radio-button-placeholder.njk" %}
      {% include "components/radio-button-placeholder.njk" %}
      {% include "components/radio-button-placeholder.njk" %}
      {% include "components/radio-button-placeholder.njk" %}
    </div>
  </fieldset>
</div>
<div data-new-category hidden>
  <label for="new-category">
    New Category
  </label>
  <input id="new-category" type="text" name="new-category" autofill="false" autocomplete="off">
</div>
