<div>
  <fieldset>
    <legend>
      Category
    </legend>
    <div class="stack" style="--stack-space: 0.5em" data-category></div>
  </fieldset>
</div>
<div data-new-category hidden>
  <label for="new-category">
    New Category
  </label>
  <input id="new-category" type="text" name="new-category" autofill="false" autocomplete="off">
</div>

<script>
  document.addEventListener('change', (event) => {
    if (event.target.matches('[name=category]')) {
      const newCategoryDiv = document.querySelector('[data-new-category]');
      const newCategoryInput = document.querySelector('#new-category');
      if (event.target.value === 'new-category') {
        newCategoryDiv.removeAttribute('hidden');
        newCategoryInput.setAttribute('required', true);
      } else {
        newCategoryDiv.setAttribute('hidden', true);
        newCategoryInput.removeAttribute('required');
      }
    }
  });
</script>
