<footer class="container" style="margin-block-start: 2rem">
  <div class="cluster small">
    <div>
      <a href="/privacy-policy/">
        Privacy Policy
      </a>
      <a href="/terms-of-service/">
        Terms and Conditions
      </a>
      <a href="/contact/">
        Contact Us
      </a>
    </div>
  </div>
</footer>
