<nav class="cluster">
  <div class="justify-content:space-between">
    <a href="/overview/" class="nav-link">
      Cash Cache
    </a>
    <div class="cluster">
      <div>
        <a href="/insights/" class="nav-link">
          Insights
        </a>
        <a href="/settings/" class="nav-link">
          Settings
        </a>
        <a href="/login/" class="nav-link" data-login-link>
          Log In
        </a>
        <a href="/account/" class="nav-link" data-account-link hidden>
          Account
        </a>
      </div>
    </div>
  </div>
</nav>
