---
title: Add Recurring Expense
layout: layouts/simple-layout.njk
description: Add a recurring expense so you can save time in the future and won't forget to track your insurance or a subscription.
---

<style>
  .dates-grid {
    display: grid;
    grid-gap: 0.75em;
    grid-template-columns: repeat(7, max-content);
    font-size: calc(var(--h6));
  }
</style>

<h1>
  Add Recurring Expense
</h1>

{% include "components/back-link.njk" %}

<form class="stack">
  {% include "inputs/category-inputs.njk" %}
  <div>
    <label for="expense-description">
      Description
    </label>
    <input id="expense-description" type="text" name="expense-description" required>
  </div>
  <div>
    <label for="amount">
      Amount
    </label>
    <input id="amount" type="text" name="amount" inputmode="numeric" pattern="^(\s{1,})?\$?\d{1,3}(,?\d{3})*(\.\d+)?(\s{1,})?$" style="width: 12ch" autofill="false" autocomplete="off" required>
  </div>
  <fieldset>
    <legend>
      Frequency
    </legend>
    <div class="stack" style="--stack-space: 0.5em">
      <label class="custom-checkbox">
        <input type="radio" name="frequency" value="1-month" checked>
        {% include "svgs/radio-svg.njk" %}
        <span>
          Every Month
        </span>
      </label>
      <label class="custom-checkbox">
        <input type="radio" name="frequency" value="3-month">
        {% include "svgs/radio-svg.njk" %}
        <span>
          Every 3 Months
        </span>
      </label>
      <label class="custom-checkbox">
        <input type="radio" name="frequency" value="6-month">
        {% include "svgs/radio-svg.njk" %}
        <span>
          Every 6 Months
        </span>
      </label>
      <label class="custom-checkbox">
        <input type="radio" name="frequency" value="1-year">
        {% include "svgs/radio-svg.njk" %}
        <span>
          Every Year
        </span>
      </label>
      <label class="custom-checkbox">
        <input type="radio" name="frequency" value="1-week">
        {% include "svgs/radio-svg.njk" %}
        <span>
          Every Week
        </span>
      </label>
      <label class="custom-checkbox">
        <input type="radio" name="frequency" value="2-week">
        {% include "svgs/radio-svg.njk" %}
        <span>
          Every 2 Weeks
        </span>
      </label>
      <label class="custom-checkbox">
        <input type="radio" name="frequency" value="twice-per-month">
        {% include "svgs/radio-svg.njk" %}
        <span>
          Twice per Month
        </span>
      </label>
    </div>
  </fieldset>
  {% include "inputs/complex-dates.njk" %}
  <label class="custom-checkbox">
    <input type="checkbox" name="active" checked>
    {% include "svgs/checkbox-svg.njk" %}
    <span>
      This recurring expense is currently active
    </span>
  </label>
  <input type="hidden" name="key" value="">
  <div>
    <button type="submit">
      Save Recurring Expense
    </button>
  </div>
</form>

{% include "scripts/firebase.njk" %}
{% include "scripts/sanitize.njk" %}
<script type="module">
  import { getAllCategories, getAllCategoriesFromCloud, addToDb } from '/scripts/db.mjs';

  if (!appUser?.uid || !isPayingUser) {
    window.location.href = '/recurring-expenses';
  }

  {% include "scripts/get-categories.njk" %}

  document.addEventListener('submit', (event) => {
    event.preventDefault();

    const { elements } = event.target;
    const expense = {
      uid: appUser?.uid,
      key: elements['key'].value || null,
      category: elements['category'].value === 'new-category' ? elements['new-category'].value : elements['category'].value,
      description: elements['expense-description'].value,
      amount: sanitize(elements['amount'].value),
      year: Number(elements['year'].value),
      month: Number(elements['month'].value) - 1,
      day: Number(elements['day'].value),
      frequency: elements['frequency'].value,
      daysOfMonth: Array.from(elements['days-of-month']).filter(checkbox => checkbox.checked).map(checkbox => Number(checkbox.value)),
      active: elements['active'].checked,
    };

    addToDb('recurring-expenses', expense);
  });

  document.addEventListener('item-added', () => {
    window.location.href = `/recurring-expenses`;
  });

  getCategories('expenses');
</script>
