---
title: Recurring Expenses
layout: layouts/simple-layout.njk
---

<h1>
  Recurring Expenses
</h1>

<p>
  Save time by adding your typical expenses here. At the beginning of each
  month, you can copy these into your tracked expenses, giving you a head start
  and a heads up for what's coming.
</p>

<p data-no-recurring-expenses hidden>
  You haven't set up any recurring expenses yet. Take a look at your typical
  expenses, such as utility bills and subscriptions, as well as less frequent
  but predictable expenses like insurance.
</p>

<div class="stack" data-recurring-expenses hidden>

</div>

<div>
  <a href="/recurring-expenses/add">
    Add Recurring Expense
  </a>
</div>
