{% extends "layouts/simple-layout.njk" %}

{% block titleAndDescription %}
  <title>Settings | Cash Cache</title>
  <meta name="description" content="Manage your display, sorting, and data preferences here, as well as handle importing and exporting data.">
{% endblock %}

{% block mainContent %}
  <h1>
    Settings
  </h1>

  <div>
    <a href="/overview" data-back-link>
      Go Back
    </a>
  </div>
  <div class="cluster small">
    <div>
      <a href="/static/savings-template.csv" download="savings.csv">
        Savings CSV Template
      </a>
      <a href="/static/debt-template.csv" download="debt.csv">
        Debt CSV Template
      </a>
    </div>
  </div>

  <div>
    <label for="importSavingsFile" class="button">Upload Savings</label>
    <input id="importSavingsFile" type="file" name="import-savings-file" class="visually-hidden" data-import-savings-data>
  </div>
  <div data-import-savings-progress aria-live="polite"></div>

  <div>
    <label for="importDebtFile" class="button">Upload Debt</label>
    <input id="importDebtFile" type="file" name="import-debt-file" class="visually-hidden" data-import-debt-data>
  </div>
  <div data-import-debt-progress aria-live="polite"></div>
{% endblock %}

{% block scripts %}
  <script src="/scripts/settings/index.mjs" type="module"></script>
{% endblock %}
