---
title: Settings
layout: layouts/simple-layout.njk
---

<h1>
  Settings
</h1>

{% include "components/back-link.njk" %}

<h2>
  Display Settings
</h2>

<fieldset>
  <legend>
    Brightness
  </legend>
  <div class="stack" style="--stack-space: 0.5em">
    <label class="custom-checkbox">
      <input type="radio" name="brightness-mode" value="light-mode">
      {% include "svgs/radio-svg.njk" %}
      <span>
        Light Mode
      </span>
    </label>
    <label class="custom-checkbox">
      <input type="radio" name="brightness-mode" value="dark-mode">
      {% include "svgs/radio-svg.njk" %}
      <span>
        Dark Mode
      </span>
    </label>
    <label class="custom-checkbox">
      <input type="radio" name="brightness-mode" value="" checked>
      {% include "svgs/radio-svg.njk" %}
      <span>
        Use System Settings
      </span>
    </label>
  </div>
</fieldset>

<h2>
  Sorting Preferences: Expenses
</h2>
<form class="stack" data-expenses-preferences-form>
  <label class="custom-checkbox">
    <input type="checkbox" name="group-expenses-by-category">
    {% include "svgs/checkbox-svg.njk" %}
    <span>
      Group By Category
    </span>
  </label>

  <fieldset>
    <legend>
      Sort By
    </legend>
    <div class="stack" style="--stack-space: 0.5em">
      <label class="custom-checkbox">
        <input type="radio" name="sort-expenses-by" value="amount">
        {% include "svgs/radio-svg.njk" %}
        <span>
          Amount
        </span>
      </label>
      <label class="custom-checkbox">
        <input type="radio" name="sort-expenses-by" value="day">
        {% include "svgs/radio-svg.njk" %}
        <span>
          Date
        </span>
      </label>
    </div>
  </fieldset>

  <fieldset>
    <legend>
      Sort Order
    </legend>
    <div class="stack" style="--stack-space: 0.5em">
      <label class="custom-checkbox">
        <input type="radio" name="expenses-sort-order" value="descending">
        {% include "svgs/radio-svg.njk" %}
        <span data-expenses-descending-label>
          Descending
        </span>
      </label>
      <label class="custom-checkbox">
        <input type="radio" name="expenses-sort-order" value="ascending">
        {% include "svgs/radio-svg.njk" %}
        <span data-expenses-ascending-label>
          Ascending
        </span>
      </label>
    </div>
  </fieldset>

  <div>
    <button type="submit" data-save-expenses-preferences>
      Save Preferences
    </button>
  </div>
</form>

<h2>
  Sorting Preferences: Income
</h2>
<form class="stack" data-income-preferences-form>
  <label class="custom-checkbox">
    <input type="checkbox" name="group-income-by-category">
    {% include "svgs/checkbox-svg.njk" %}
    <span>
      Group By Category
    </span>
  </label>

  <fieldset>
    <legend>
      Sort By
    </legend>
    <div class="stack" style="--stack-space: 0.5em">
      <label class="custom-checkbox">
        <input type="radio" name="sort-income-by" value="amount">
        {% include "svgs/radio-svg.njk" %}
        <span>
          Amount
        </span>
      </label>
      <label class="custom-checkbox">
        <input type="radio" name="sort-income-by" value="day">
        {% include "svgs/radio-svg.njk" %}
        <span>
          Date
        </span>
      </label>
    </div>
  </fieldset>

  <fieldset>
    <legend>
      Sort Order
    </legend>
    <div class="stack" style="--stack-space: 0.5em">
      <label class="custom-checkbox">
        <input type="radio" name="income-sort-order" value="descending">
        {% include "svgs/radio-svg.njk" %}
        <span data-income-descending-label>
          Descending
        </span>
      </label>
      <label class="custom-checkbox">
        <input type="radio" name="income-sort-order" value="ascending">
        {% include "svgs/radio-svg.njk" %}
        <span data-income-ascending-label>
          Ascending
        </span>
      </label>
    </div>
  </fieldset>

  <div>
    <button type="submit" data-save-income-preferences>
      Save Preferences
    </button>
  </div>
</form>

<h2>
  Sorting Preferences: Savings
</h2>
<form class="stack" data-savings-preferences-form>
  <label class="custom-checkbox">
    <input type="checkbox" name="group-savings-by-category">
    {% include "svgs/checkbox-svg.njk" %}
    <span>
      Group By Category
    </span>
  </label>

  <fieldset>
    <legend>
      Sort Order
    </legend>
    <div class="stack" style="--stack-space: 0.5em">
      <label class="custom-checkbox">
        <input type="radio" name="savings-sort-order" value="descending">
        {% include "svgs/radio-svg.njk" %}
        <span>
          Largest to Smallest
        </span>
      </label>
      <label class="custom-checkbox">
        <input type="radio" name="savings-sort-order" value="ascending">
        {% include "svgs/radio-svg.njk" %}
        <span>
          Smallest to Largest
        </span>
      </label>
    </div>
  </fieldset>

  <div>
    <button type="submit" data-save-savings-preferences>
      Save Preferences
    </button>
  </div>
</form>

<h2>
  Sorting Preferences: Debt
</h2>

<p class="small">
  There are two popular methods for paying off debt. The mathematically best
  method is called the Avalanche method, and it has you pay the minimum amount
  for all debts, then throw as much money as possible at the one with the
  highest interest rate. This method saves you the most money over time, as it
  minimizes the amount of interest you have to pay.
</p>

<p class="small">
  The other method is called the Snowball method. Similar to the Avalanche
  method, you pay the minimum amount for all debts, but instead of paying off
  the highest interest, you focus on the debt with the smallest balance. This
  has the benefit of getting rid of smaller debts quickly, which can help with
  motivation. However, it allows higher-interest loans to accumulate interest,
  which can lead to paying more in the long run.
</p>

<form class="stack" data-debt-preferences-form>
  <fieldset>
    <legend>
      Debt Payment Strategy
    </legend>
    <div class="stack" style="--stack-space: 0.5em">
      <label class="custom-checkbox">
        <input type="radio" name="debt-method" value="avalanche">
        {% include "svgs/radio-svg.njk" %}
        <span>
          Avalanche (Recommended)
        </span>
      </label>
      <label class="custom-checkbox">
        <input type="radio" name="debt-method" value="snowball">
        {% include "svgs/radio-svg.njk" %}
        <span>
          Snowball
        </span>
      </label>
    </div>
  </fieldset>

  <div>
    <button type="submit" data-save-debt-preferences>
      Save Preferences
    </button>
  </div>
</form>

<h2>
  Manage Data
</h2>
<p>
  If you use this site for free, your data is completely private. However, that
  means it isn't backed up in the cloud. If you want to access your data from
  multiple devices or keep backups, you'll need to export or import data from
  here.
</p>

<h3>
  Import Data
</h3>
<p>
  If you've exported data from another device or browser, you can import it
  here. It should have a name similar to
  "cash-cache.<span data-current-date></span>.json".
</p>
<div>
  <label for="importFile" class="button">Choose a File</label>
  <input id="importFile" type="file" name="import-file" class="visually-hidden" data-import-data>
</div>
<div data-import-progress aria-live="polite"></div>

<script src="/scripts/settings.mjs" type="module"></script>
