{% extends "layouts/simple-layout.njk" %}

{% block titleAndDescription %}
  <title>Settings: Savings Sorting Preferences | Cash Cache</title>
  <meta name="description" content="Manage sorting and grouping preferences for savings.">
{% endblock %}

{% block mainContent %}
  <h1>
    Settings: Savings Sorting Preferences
  </h1>

  <div>
    <a href="/overview/" data-back-link>
      Go Back
    </a>
  </div>

  <form class="stack" data-savings-preferences-form>
    <label class="custom-checkbox">
      <input type="checkbox" name="group-savings-by-category">
      {% include "svgs/checkbox-svg.njk" %}
      <span>
        Group By Category
      </span>
    </label>

    <fieldset>
      <legend>
        Sort Order
      </legend>
      <div class="stack" style="--stack-space: 0.5em">
        <label class="custom-checkbox">
          <input type="radio" name="savings-sort-order" value="descending">
          {% include "svgs/radio-svg.njk" %}
          <span>
            Largest to Smallest
          </span>
        </label>
        <label class="custom-checkbox">
          <input type="radio" name="savings-sort-order" value="ascending">
          {% include "svgs/radio-svg.njk" %}
          <span>
            Smallest to Largest
          </span>
        </label>
      </div>
    </fieldset>

    <div>
      <button type="submit" data-save-savings-preferences>
        Save Preferences
      </button>
    </div>
  </form>
{% endblock %}

{% block scripts %}
  <script src="/scripts/settings/sorting-preferences-savings.js"></script>
{% endblock %}
