{% extends "layouts/simple-layout.njk" %}

{% block titleAndDescription %}
  <title>CSV Uploads: Savings | Cash Cache</title>
  <meta name="description" content="Upload savings from a CSV to save time entering data.">
{% endblock %}

{% block mainContent %}
  <h1>
    CSV Uploads: Savings
  </h1>

  <div>
    <a href="/overview/" data-back-link>
      Go Back
    </a>
  </div>

  <div>
    <a href="/static/savings-template.csv" download="savings.csv">
      Savings CSV Template
    </a>
  </div>

  <div>
    <label for="importSavingsFile" class="button">Upload Savings</label>
    <input id="importSavingsFile" type="file" name="import-savings-file" class="visually-hidden" data-import-savings-data>
  </div>
  <div data-import-savings-progress aria-live="polite"></div>
{% endblock %}

{% block scripts %}
  <script src="/scripts/settings/upload-savings.mjs" type="module"></script>
{% endblock %}
