---
permalink: /404.html
---
{% extends "layouts/simple-layout.njk" %}

{% block titleAndDescription %}
  <title>404 Not Found | Cash Cache</title>
  <meta name="description" content="I still haven't found what I'm looking for.">
{% endblock %}

{% block mainContent %}
  <h1>
    404 Not Found
  </h1>

  <p>
    Well, this is embarrassing. It seems like the page you were looking for isn't
    there anymore. You can try retracing your steps or go back to your
    <a href="/overview">overview page</a>.
  </p>

  <p>
    If you think something is broken, please send us a message at
    {% include "components/contact-email.njk" %}
  </p>
{% endblock %}
