{% extends "layouts/simple-layout.njk" %}

{% block titleAndDescription %}
  <title>Delete Account | Cash Cache</title>
  <meta name="description" content="Make super duper sure that you want to delete your account. We're not Facebook – once you hit that button, your account is gone.">
{% endblock %}

{% block mainContent %}
  <h1>
    Delete Account
  </h1>

  <div class="stack" data-delete-account hidden>
    <p>
      This is your last chance to turn back. If you delete your account, your
      subscription will be canceled, all of your data will be deleted from the
      cloud, and you will lose access to premium features.
    </p>

    <form data-delete-account-form>
      <button type="submit" data-delete-account-button>
        Delete Account
      </button>
    </form>
    <div data-status-update aria-live="polite"></div>
  </div>

  <div data-credentials-invalid hidden>
    <p>
      We couldn't log you in. You may have already used the link from the email we
      sent you, or it could have expired. You can try again from the
      <a href="/account">account page</a>.
    </p>
  </div>
{% endblock %}

{% block scripts %}
  <script src="/scripts/account/delete-account.mjs" type="module"></script>
{% endblock %}
