{% extends "layouts/simple-layout.njk" %}

{% block titleAndDescription %}
  <title>Payment Success | Cash Cache</title>
  <meta name="description" content="Payment was successful. You will now be granted access to premium features.">
{% endblock %}

{% block mainContent %}
  <h1>
    Payment Success
  </h1>

  <p>
    Thank you for subscribing to Cash Cache! Your data is now backed up on the
    cloud, and you now have access to premium features. If you ever want to change
    your subscription type or delete your account, you may do so from the
    <a href="/account/">account page</a>.
  </p>
  <p>
    Continue to <a href="/overview/">overview page</a>.
  </p>
{% endblock %}

{% block scripts %}
  <script src="/scripts/account/payment-success.mjs" type="module"></script>
{% endblock %}
